<!DOCTYPE html>
<html lang="en us">
<head>
    <meta charset="UTF-8">
    <title>ScrapeGoat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"
          type="text/css"
          href="./style.css"/>
</head>
<body>
<div class="main">
    {{{ body }}}
    <footer>&copy;2017 Kong is awesome.&trade;</footer>
</div>
</body>
</html>